# Python fundamentals Exercises (Expressions, Strings, Lists, Tuples)

The notebook intends to help you practice these concepts. Attempt honestly.

Instructions/Suggestions:
1. Don't forget to copy the expression from the Question to code cell!
2. You can use the python documentation anytime you want to learn about a new function or attribute.

## Q1: What is 84 / 12 + 2 * 2 ?

In [1]:
# code and test below...

#11.0

84 / 12 + 2 * 2

11.0

## Q2: What is the type of the answer variable in this expression:

`answer = 12/4`

In [2]:
#<class 'float'>


# code and test below...

answer = 12/4

print(type(answer))

<class 'float'>

## Q3: What is the value of num?

```python
num = 2
num = 5*10
```

In [4]:
# code and test below...

#50, num has been reassigned 

num = 2
num = 5*10

print(num)

50

## Q4: What would this expression evaluate to?

`'tom' + 1`

In [32]:
# code and test below...

#An error. You can't add a string to an number and a can't concatinate a number with a string. 
#"tom" + "1" would work, but give us "tom1"

## Q5: What would this expression evaluate to?

`'6' + '4'`

In [5]:
# code and test below...

#'64'

'6' + '4'

'64'

## Q6: What would be the output of MyString[5:12] if?

`MyString = "Data Science with Harshit"`

In [6]:
# code and test below...

#'Science'

MyString = "Data Science with Harshit"

MyString[5:12]

'Science'

## Q7: What would be the output of MyString[5:] if?

`MyString = "Data Science with Harshit"`

In [7]:
# code and test below...

#'Science with Harshit'

MyString[5:]

'Science with Harshit'

## Q8: What would be the output of MyString[5::2] if?

`MyString = "Data Science with Harshit"`

In [10]:
# code and test below...

#'Sinewt asi'

## Q8: What would be the output of MyString[5::2] if?

MyString = "Data Science with Harshit"

MyString[5::2]

'Sinewt asi'

## Q9: Is there any 'go' in MyString if yes, at what index?  

`MyString = "You should go to your home!"`

In [13]:
# code and test below...

#11

MyString = "You should go to your home!"

MyString.index('go')

11

## Q10: Evaluate the following expression and convert it to string object?

`18 + 19 * 11`

In [16]:
# code and test below...

#<class 'str'>

StringCast = str(18 + 19 * 11)

print(type(StringCast))

<class 'str'>

## Q11: Replace Harshit with your name in the statement below.

`MyString = "Data Science with Harshit"`

In [17]:
# code and test below...

#'Data Science with Cornel'

MyString = "Data Science with Harshit"

MyString.replace('Harshit', 'Cornel')

'Data Science with Cornel'

## Q12: Use the split() function to extract all the words of MyString in a list:

`MyString = "Data Science with Harshit"`

In [18]:
# code and test below...

ExtractedList = MyString.split(' ')

print(ExtractedList)

['Data', 'Science', 'with', 'Harshit']

## Q13: Extract the last element of the list without counting.

`MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]`

In [20]:
# code and test below...


MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]

FinalNum = MyList[-1]

print(FinalNum)

87

## Q14: What is the length of the list below?

`MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]`

In [22]:
# code and test below...

#9


MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]

len(MyList)

9

## Q15: Extract all the elements from 2nd index to 6th index.

`MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]`

In [24]:
MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]


ExtraList = MyList[2:7]

ExtraList

[56, 'tom', 'red', 65, 89]

## Q16: Extract all the elements except last 2 using slicing

`MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]`

In [27]:
# code and test below...

MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]

FirstSeven = MyList[:-2]

FirstSeven

[23, 43, 56, 'tom', 'red', 65, 89]

## Q17: Are lists mutable? (Yes/No)

In [44]:
# code and test below...

#YES

## Q18: Sort the below list using the in-built list class function:

`MyList = [23, 43, 56, 65, 89, 90, 87]`

In [29]:
# code and test below...

MyList = [23, 43, 56, 65, 89, 90, 87]

MyList.sort()

print(MyList)

[23, 43, 56, 65, 87, 89, 90]

## Q19: Delete 'tom' and 'red' from the list using remove() function.

`MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]`

In [31]:
# code and test below...

MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]

MyList.remove('tom')

MyList.remove('red')

print(MyList)

[23, 43, 56, 65, 89, 90, 87]

## Q20: Tuples are mutable(True/False)

In [47]:
# code and test below...

#FALSE

## Q21: From a tuple (23, -1, 34, [1 , 3] , 90), extract 3.

In [36]:
# code and test below...

tuptup = (23, -1, 34, [1 , 3] , 90)

InnerList = tuptup[3]

Inner_01 = InnerList[1]

print(Inner_01)

3

## Q22: What is right method to clone a list? Create a clone the list below. `Imp` (Hint: slicing)

`MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]`

In [38]:
# code and test below...

MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]

ClonedList = MyList[:]

print(ClonedList)

[23, 43, 56, 'tom', 'red', 65, 89, 90, 87]